#game {
  width: 450px;
  height: 450px;
  background: #eee;
  border: 2px solid black;
  text-align: center;
  margin: 50px auto;
  padding: 20px;
}
#game div {
  clear: both;
}

#game button {
  display: block;
  float: left;
  width: 100px;
  height: 100px;
  margin: 5px 10px;
}

#actions {
  text-align: center;
  padding: 20px, 10px;
}
