#game {
  width: 450px;
  height: 450px;
  background: white;
  border: 2px solid black;
  text-align: center;
  margin: 50px auto;
  padding: 20px;
}
#game div {
  clear: both;
}

#game button {
  display: block;
  float: left;
  width: 100px;
  height: 100px;
  margin: 5px 10px;
  animation: colorhue 10s infinite;
  background-color: #e74c3c;
  font-size: 80px;
}

@keyframes colorhue {
  0% { background-color: rgba(231, 76, 60, 0.2); }
  20% { background-color: rgba(241, 196, 15, 0.2); }
  40% { background-color: rgba(26, 188, 156, 0.2); }
  60% { background-color: rgba(52, 152, 219, 0.2); }
  80% { background-color: rgba(155, 89, 182, 0.2); }
  100% { background-color: rgba(231, 76, 60, 0.2); }
}

#actions {
  text-align: center;
  padding: 20px, 10px;
}
